<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
<!--  Configuring Address class  -->
<!--  id = Object Name class=fully qualified name :including packgeName  -->
<bean id="addr" class="maccess.Address"> </bean>
<bean id="product" class="maccess.Product"> </bean>
</beans>